<form   [formGroup]="loginForm" style="border:1px solid #ccc">
    <div class="container">
      <h1>Login</h1>
     
      <hr>
      <div>
        <input matInput type="text"  class="form-control" placeholder="Email Address"  formControlName='email'>
        <mat-error *ngIf="isSubmit && loginForm.controls['email'].hasError('required')">Please enter email address
            
        </mat-error>
        <mat-error *ngIf="isSubmit && loginForm.controls['email'].hasError('pattern')">Please enter valid email address
                        
        </mat-error></div>
      <div>
  
  
        <input matInput type="password" (keydown.space)="$event.preventDefault();" class="form-control" placeholder="Password"  formControlName='password'>
        <mat-error *ngIf="isSubmit && loginForm.controls['password'].hasError('required')">Please enter password
            
        </mat-error></div>
        <label>
            <input  ng-checked="rememberMe" [checked]="isChcked" (change)="rememberMe1($event);" type="checkbox"> Remember me
        </label>
       
    
  <div> <button (click)="login()"> Submit</button></div> </div>
     
 </form>
