
<form   [formGroup]="signup" style="border:1px solid #ccc">
    <div class="container">
      <h1>Sign Up</h1>
     
      <hr>
      <div>
        <input matInput type="text"  class="form-control" placeholder="Email Address"  formControlName='email'>
        <mat-error *ngIf="isSubmit && signup.controls['email'].hasError('required')">Please enter email address
            
        </mat-error>
        <mat-error *ngIf="isSubmit && signup.controls['email'].hasError('pattern')">Please enter valid email address
                        
        </mat-error></div>
      <div>
  
  
        <input matInput type="text" (keydown.space)="$event.preventDefault();" class="form-control" placeholder="Password"  formControlName='password'>
        <mat-error *ngIf="isSubmit && signup.controls['password'].hasError('required')">Please enter password
            
        </mat-error></div>
       
    
  <div> <button (click)="signupForm()"> Submit</button></div> </div>
     
 </form>
      
   
     